.adminPanelContainer {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Distribución de barra lateral y contenido */
    gap: 20px;
    padding: 20px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* Sidebar */
.adminSidebar {
    background: #ffffff10; 
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    padding-left: 10px;
    padding-right: 40px;
    align-items: flex-start;
    border-radius: 10px;
    text-align: flex-start;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.adminImage {
    width: 90%;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.adminSidebar ul {
    list-style: none;
    padding: 0;
}

.adminSidebar ul li {
    padding: 15px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(48, 48, 48, 0);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    text-align: flex-start;
    margin: 10px;
    border-radius: 25px;
}

.adminSidebar ul li:hover {
    transform: translateY(-5px);
    color: #ffffff; /* Cambiar color en hover */
}

/* Contenido principal */
.adminContent {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    min-height: 100vh; /* Ocupa al menos toda la altura de la pantalla */
    width: 100%; /* Asegura que el contenido principal ocupe todo el ancho disponible */
    overflow-x: auto; /* Permite scroll horizontal si es necesario */
}

/* Botón de menú hamburguesa */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-size: 24px;
    width: 20px;
    height: 20px;
}

/* Sidebar para responsive */
.adminSidebar.responsive {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px; /* Ajuste el ancho de la barra lateral en responsive */
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Estilos responsivos */
@media (max-width: 1440px) {
    .adminPanelContainer {
        grid-template-columns: 1fr; /* Una sola columna en pantallas más pequeñas */
        padding: 10px;
    }

    .adminSidebar {
        padding: 10px;
        display: none; /* Ocultar barra lateral por defecto */
    }

    .hamburger {
        display: block; /* Mostrar el botón de hamburguesa en pantallas pequeñas */
    }

    .adminContent {
        padding: 10px;
        width: 100%; /* Asegura que el contenido ocupe todo el espacio disponible */
    }

    .adminSidebar ul li {
        padding: 8px;
        font-size: 0.9rem;
    }

    .adminSidebar.responsive {
        display: flex;
        width: 220px; /* Ancho ajustado del sidebar en pantallas pequeñas */
    }
}

@media (max-width: 768px) {
    .adminSidebar ul li {
        font-size: 0.8rem;
    }

    .adminContent {
        font-size: 0.9rem;
        width: 100%; /* Asegura que el contenido ocupe todo el ancho */
    }

    .adminImage {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .adminSidebar {
        padding: 5px;
    }

    .adminContent {
        padding: 5px;
        width: 100%; /* Asegura que el contenido ocupe todo el ancho en pantallas pequeñas */
    }

    .adminSidebar ul li {
        font-size: 0.7rem;
        padding: 5px;
    }
}
